
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter14151649 = new Ya.Metrika({
                    id: 14151649,
                    webvisor: true,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) {
            }
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="~//mc.yandex.ru/watch/14151649" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<script type="text/javascript">
    (function (d, t, p) {
        var j = d.createElement(t);
        j.async = true;
        j.type = "text/javascript";
        j.src = ("https:" == p ? "https:" : "http:") + "//stat.sputnik.ru/cnt.js";

        var s = d.getElementsByTagName(t)[0];
        s.parentNode.insertBefore(j, s);
    })(document, "script", document.location.protocol);
</script>
<script src="~/vs/2017/js/jquery-2.2.4.min.js"></script>
<script src="~/vs/2017/js/bootstrap.min.js"></script>
<script src="~/vs/2017/js/jquery.form.min.js"></script>
<script src="~/vs/2017/js/owl.carousel.js"></script>
<script src="~/vs/2017/js/menu.js"></script>
<script src="~/vs/2017/js/main.js"></script>
<script>
    $(document).ready(function () {
        $("button.cookb").click(function () {
            var jqxhr = $.get("include/cookb.php")
            $("#cookb").attr("display", "none")
        })
    })
</script>
<script type="text/javascript" src="~/vs/2017/js/jquery.fancybox.js"></script>
<script type="text/javascript" src="~/vs/2017/js/jquery.fancybox-thumbs.js"></script>
<script type="text/javascript" src="~/vs/2017/js/app.js"></script>
<script type="text/javascript"></script>

<script>
    jQuery(($) => {
        $('.select').on('click', '.select__head', function () {
            if ($(this).hasClass('open')) {
                $(this).removeClass('open');
                $(this).next().fadeOut();
            } else {
                $('.select__head').removeClass('open');
                $('.select__list').fadeOut();
                $(this).addClass('open');
                $(this).next().fadeIn();
            }
        });

        $('.select').on('click', '.select__item', function () {
            $('.select__head').removeClass('open');
            $(this).parent().fadeOut();
            $(this).parent().prev().text($(this).text());
            $(this).parent().prev().prev().val($(this).text());
        });

        $(document).click(function (e) {
            if (!$(e.target).closest('.select').length) {
                $('.select__head').removeClass('open');
                $('.select__list').fadeOut();
            }
        });
    });
</script>
<script>
    function updateTags() {
        $("#inputGroupSelectTags").load('@Url.Action("UpdateTags", "UpdateSelect")');
    }
    function updatePhoto() {
        $("#inputGroupSelectPhoto").load('@Url.Action("UpdatePhoto", "UpdateSelect")');
    }
    function updateCategory() {
        $("#inputGroupSelectCategory").load('@Url.Action("UpdateCategory", "UpdateSelect")');
    }
</script>
<script type="text/javascript">
    document.onkeyup = function (e) {
        if (e.target.id != 'first_input') return;
        else second_input.value = generate_url(first_input.value);
    }
    function generate_url(str) {
        var url = str.replace(/[\s]+/gi, '-');
        url = translit(url);
        url = url.replace(/[^0-9a-z_\-]+/gi, '').toLowerCase();
        return url;
    }

    function translit(str) {
        var ru = ("А-а-Б-б-В-в-Ґ-ґ-Г-г-Д-д-Е-е-Ё-ё-Є-є-Ж-ж-З-з-И-и-І-і-Ї-ї-Й-й-К-к-Л-л-М-м-Н-н-О-о-П-п-Р-р-С-с-Т-т-У-у-Ф-ф-Х-х-Ц-ц-Ч-ч-Ш-ш-Щ-щ-Ъ-ъ-Ы-ы-Ь-ь-Э-э-Ю-ю-Я-я").split("-")
        var en = ("A-a-B-b-V-v-G-g-G-g-D-d-E-e-E-e-E-e-ZH-zh-Z-z-I-i-I-i-I-i-J-j-K-k-L-l-M-m-N-n-O-o-P-p-R-r-S-s-T-t-U-u-F-f-H-h-TS-ts-CH-ch-SH-sh-SCH-sch-'-'-Y-y-'-'-E-e-YU-yu-YA-ya").split("-")
        var res = '';
        for (var i = 0, l = str.length; i < l; i++) {
            var s = str.charAt(i), n = ru.indexOf(s);
            if (n >= 0) { res += en[n]; }
            else { res += s; }
        }
        return res;
    }
</script>