<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter14151649 = new Ya.Metrika({
                    id: 14151649,
                    webvisor: true,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) {
            }
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="~//mc.yandex.ru/watch/14151649" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<!-- Sputnik counter -->
<script type="text/javascript">
    (function (d, t, p) {
        var j = d.createElement(t);
        j.async = true;
        j.type = "text/javascript";
        j.src = ("https:" == p ? "https:" : "http:") + "//stat.sputnik.ru/cnt.js";

        var s = d.getElementsByTagName(t)[0];
        s.parentNode.insertBefore(j, s);
    })(document, "script", document.location.protocol);
</script>
<!-- /Sputnik counter -->
</div><!--[if (gt IE 8)]><!-->
<script src="~/vs/2017/js/jquery-2.2.4.min.js"></script>
<!--<![endif]-->
<!--[if (lte IE 8)]>
<script src="~/vs/2017/js/jquery-1.12.4.min.js"></script>
<![endif]-->
<script src="~/vs/2017/js/bootstrap.min.js"></script>
<script src="~/vs/2017/js/jquery.form.min.js"></script>
<!--<script src="~/vs/2017/js/owl.carousel.min.js"></script>-->
<script src="~/vs/2017/js/owl.carousel.js"></script>
<script src="~/vs/2017/js/menu.js"></script>
<script src="~/vs/2017/js/main.js"></script>
<script>
    $(document).ready(function () {
        $("button.cookb").click(function () {
            var jqxhr = $.get("include/cookb.php")
            $("#cookb").attr("display", "none")
        })
    })
</script>
<script type="text/javascript" src="~/vs/2017/js/jquery.fancybox.js"></script>
<script type="text/javascript" src="~/vs/2017/js/jquery.fancybox-thumbs.js"></script>
<script type="text/javascript" src="~/vs/2017/js/app.js"></script>
<script type="text/javascript"></script>

<script>
    jQuery(($) => {
        $('.select').on('click', '.select__head', function () {
            if ($(this).hasClass('open')) {
                $(this).removeClass('open');
                $(this).next().fadeOut();
            } else {
                $('.select__head').removeClass('open');
                $('.select__list').fadeOut();
                $(this).addClass('open');
                $(this).next().fadeIn();
            }
        });

        $('.select').on('click', '.select__item', function () {
            $('.select__head').removeClass('open');
            $(this).parent().fadeOut();
            $(this).parent().prev().text($(this).text());
            $(this).parent().prev().prev().val($(this).text());
        });

        $(document).click(function (e) {
            if (!$(e.target).closest('.select').length) {
                $('.select__head').removeClass('open');
                $('.select__list').fadeOut();
            }
        });
    });
</script>