@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.Contains("Ошибка") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert" style="display: flex;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p style="margin-left: 30px;">@Model</p>
    </div>
}
