@page
@model SiteLenroo.Areas.Identity.Pages.Account.Manage.AddedNewsModel
@{
    ViewData["Title"] = "Добваление новсти";
}

<h5>@ViewData["Title"]</h5>

<form class="col-lg" id="form-addpost" enctype="multipart/form-data" method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Input.Title">Заголовок</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="first_input" placeholder="Заголовок" asp-for="Input.Title" maxlength="50">
        </div>
        <span asp-validation-for="Input.Title" class="col col-form-label text-danger"></span>
    </div>
    <hr class="my-4 bg-light">
    <div class="form-group-row">
        <label class="col-sm-2 col-form-label" asp-for="Input.PreviewPhoto">Изображение для превью</label>
        <div class="col-sm-10">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Выберите изображение</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <span asp-validation-for="Input.PreviewPhoto" class="col col-form-label text-danger"></span>
    </div>
    <hr class="my-4 bg-light">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Input.PreviewText">Описание превью</label>
        <div class="col-sm-10">
            <textarea type="text" class="form-control" asp-for="Input.PreviewText" placeholder="Описание превью"></textarea>
        </div>
        <span asp-validation-for="Input.PreviewText" class="col col-form-label text-danger"></span>
    </div>
    <hr class="my-4 bg-light">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Input.Url">Url</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Input.Url" id="second_input" placeholder="Url поста">
        </div>
        <span asp-validation-for="Input.Url" class="col col-form-label text-danger" text-danger></span>
    </div>
    <hr class="my-4 bg-light">
    <!--Scripts CKEditor-->
    <script src="https://cdn.ckeditor.com/ckeditor5/25.0.0/classic/ckeditor.js"></script>
    <!--Scripts CKEditor-->
    <div class="form-group-row">
        <label class="col-sm-2 col-form-label">Полное описание</label>
        <div id="editor"></div>
        <span asp-validation-for="Input.Description" class="col col-form-label text-danger" text-danger></span>
        <script>
            ClassicEditor
                .create(document.querySelector('#editor'))
                .catch(error => {
                    console.error(error);
                });
        </script>
    </div>
    <hr class="my-4 bg-light">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Input.Tag">Тег</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Input.Tag" id="second_input" placeholder="Url поста">
        </div>
        <span asp-validation-for="Input.Tag" class="col col-form-label text-danger" text-danger></span>
    </div>
    <hr class="my-4 bg-light">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Input.Category">Тег</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Input.Category" id="second_input" placeholder="Url поста">
        </div>
        <span asp-validation-for="Input.Category" class="col col-form-label text-danger" text-danger></span>
    </div>
    <hr class="my-4 bg-light">
    <div class="form-group-row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <button type="submit" class="btn btn-primary">Добавить и просмотреть</button>
        </div>
    </div>
</form>

<environment exclude="Development">
    <script src="~/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"
            asp-fallback-src="~/Identity/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"
            crossorigin="anonymous"
            integrity="sha384-rZfj/ogBloos6wzLGpPkkOr/gpkBNLZ6b6yLy4o+ok+t/SAKlL5mvXLr0OXNi1Hp">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
            crossorigin="anonymous"
            integrity="sha384-ifv0TYDWxBHzvAk2Z0n8R434FL1Rlv/Av18DXE43N/1rvHyOG4izKst0f2iSLdds">
    </script>
</environment>